.statsinput {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  padding: 10px;
  margin-top: 10%;
  max-width: 30%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #f5f5f5;
}

.parentContainer {
  display: flex;
  flex-direction: column;
  align-items: left; /* Left justify the content */
  width: 50%;
  margin-left: 10%;
  margin-right: auto;
}

.dropdownContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  margin-left: -9%; /* Adjust as needed */
  max-width: 50%;
}