.inputField {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: calc(50%); /* Adjusting width to account for padding */
  box-sizing: border-box; /* Makes sure the padding doesn't affect the overall width */
}

.inputField:focus {
  outline: none;
  border-color: #4a90e2;
  box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
}
